<div class="top-row">
    <a class="brand" href="">DigitalButler</a>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler"/>

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <aside class="menu">
        <p class="menu-label">Admin</p>
        <ul class="menu-list">
            <li><NavLink href="/" Match="NavLinkMatch.All" ActiveClass="is-active">Dashboard</NavLink></li>
            <li><NavLink href="/context" ActiveClass="is-active">Context</NavLink></li>
            <li><NavLink href="/instructions" ActiveClass="is-active">Instructions</NavLink></li>
            <li><NavLink href="/schedules" ActiveClass="is-active">Schedules</NavLink></li>
            <li><NavLink href="/ai-settings" ActiveClass="is-active">AI Settings</NavLink></li>
            <li><NavLink href="/google-calendar" ActiveClass="is-active">Google Calendar</NavLink></li>
            <li><NavLink href="/gmail" ActiveClass="is-active">Gmail</NavLink></li>
        </ul>
    </aside>
</div>