@page "/counter"
@rendermode InteractiveServer

<PageTitle>Counter</PageTitle>

<div class="content">
    <h1 class="title is-3">Counter</h1>
    <p class="subtitle is-6">Sample interactive page.</p>
</div>

<p role="status">Current count: @currentCount</p>

<div class="buttons">
    <button class="button is-primary" @onclick="IncrementCount">Click me</button>
</div>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }

}